html {
	
	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;

}

main {

	widht: 100%;
	height: 100%;
	position: relative;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	--panel-width: 270px;

}

article.panel-widget {

	width: calc(var(--panel-width) - 1px);
	border-right: 1px solid #cecece;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

article.panel-widget div.header {

	height: calc(40px - 1px);
	width: 100%;
	border-bottom: 1px solid #cecece;

}

article.panel-widget div.header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

article.panel-widget div.header table h1 {

	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 17px;
	color: #049ef4;
	text-indent: 8px;

}

article.panel-widget div.content {

	height: calc(100% - 40px);
	overflow-y: scroll;

}

article.panel-widget div.content li {

	list-style: none;
	width: 100%;
	text-indent: 8px;
	margin-bottom: 2px;

}

article.panel-widget div.content li:hover {

	cursor: pointer;
	color: #049EF4;

}

article.panel-widget div.content label {

	padding-top : 10px;
	color: #049ef4;
	display: block;
	text-indent: 8px;

}

article.panel-widget div.content ul {
	
	padding: 0;
	margin: 0;
	width: 100%;
	padding: 10px 0;

}

article.scene-widget {

	overflow: hidden;
	position: absolute;
	left: var(--panel-width);
	top: 0;
	height: 100%;
	width: calc(100% - var(--panel-width));

}
